<div id="colleft">
  
<h1>Conta Z e Z.A.:<br>
  <span style="font-weight: normal">autonomia e relacionamento</span></h1>
<div class="space">
•	Construímos sites, através de uma ferramenta que oportuniza o cliente autonomia de gerenciamento a hora que quiser;
<br><br>
•	Incluímos nossos clientes em um portal de relacionamento empresarial, exclusivo, proporcionando parcerias comerciais entre os mesmos;
<br/><br/>
•	Damos total apoio a cada usuário Conta Z e Z.A, com equipes de profissionais qualificados em marketing, web design e redação. Além de um consultor de negócios e um gerente de conta, que auxiliam no posicionamento mercadológico dentro do portal de relacionamento Z;
<br/><br/>
</div>
</div>
<div id="colright">
<h2 >Mas afinal, o que é uma Conta Z?</h2>
<p>
  Através da Conta Z, o usuário possui uma ferramenta administrativa que proporciona gerenciar seu site e relacionar-se com outras empresas e profissionais em um canal virtual. Por intermédio desse canal o cliente participa de um sistema de buscas por segmento e profissão na web, oportunizando novos contatos e negócios com futuros parceiros, na sua região e por todo Brasil. A conta Z é direcionada para empresas, profissionais e consumidores comunicarem-se de forma rápida, segura e inteligente, maximizando tempo, dinheiro e informação.
</p>

</div>
<div id="links" class="space">
<a name="content_1">+ A diferença entre as contas Z e Z.A:</a>
<p id="content_1" >
  A conta Z.A. possui os mesmos serviços e vantagens da Conta Z. A grande diferença é o potencial de autonomia de gerenciamento oferecido pelos sites construídos na Z.A.
<br/>
  A Conta Z.A oportuniza aos clientes uma nova perspectiva de atualização do site. Interação, simultaneidade e facilidade são palavras que definem essa ferramenta. Em dois ou três cliques no próprio site - não é necessário área para administrador - o usuário atualiza e modifica sua estrutura, quanto e na hora que quiser.
<br/>
  Para modificar um texto, por exemplo, basta clicar, escrever e pronto! O site já está atualizado! Para mudar a posição do texto, foto, logo, vídeo ou quais quer elementos do site, basta arrastar o mesmo até o local desejado. Fácil assim!
<br/>
  Essa conta foi criada pensando em facilitar o dia a dia de empresários e profissionais por todo o Brasil. Principalmente pela instantaneidade e praticidade na atualização.
</p>

<a name="content_2">+ Link Patrocinado</a>

<p id="content_2" >É um tipo de anúncio publicitário vinculado na internet, onde o anunciante destacará seu negócio em sites de busca, como UOL, Yahoo e Google.
  Pode funcionar de diversas formas, a mais conhecida delas funciona da seguinte maneira: o anunciante escolhe palavras chaves que sejam relacionadas com o seu negócio/produto. Assim toda vez que algum internauta fizer uma busca com essas palavras, o link do anunciante aparecerá no topo da lista de resultado da pesquisa, aumentando por conseqüência, o número de acessos ao seu site. O custo de processo se da através do sistema CPC (custo por clique), ou seja, o anunciante paga por clique no seu anúncio.
</p>

<a name="content_3">+ E-mail Marketing</a>
<p id="content_3" >
  Nada mais é que a utilização do e-mail como marketing direto. O envio começa a partir de um mailing de contatos (da própria empresa ao comprado). O conteúdo pode apresentar diferentes informações sobre e empresa/negócio, como novidades, promoções, informativos, notícias e campanhas de fidelização. É importante lembrar que uma campanha bem feita de e-mail marketing age de forma eficaz, tanto pela personalização do e-mail, quanto pela segmentação, atingindo assim o público desejado. Além disso, o recebimento de e-mail marketing pode ser cancelado por qualquer usuário de forma rápida e fácil, assim só receberão aqueles que de fato se interessarem pelo assunto. A Célula Z possui parceria com a Dinamize e com a ASPPEN. Nós fornecemos aos clientes a criação das artes, a Dinamize disponibiliza a ferramenta de envios e a ASPPEN fornece o mailing de contatos, formando assim, garantia de total eficácia.
</p>

<a name="content_4">+ Newsletter</a>
<p id="content_4" >
  O público a qual se destina a newsletter é bastante segmentado, formado por pessoas que se cadastraram no website e solicitaram receber informações periódicas a respeito da instituição; por isso a eficácia da ferramenta. As informações enviadas podem ser consultas comerciais de serviços e produtos, promoções, novidades, notícias, artigos, etc.
  E-commerce
</p>

<a  name="content_5">+ E-commerce</a>
<p id="content_5"  >
Os e-commerce são sites de vendas, onde todas as transações comerciais são feitas virtualmente: a escolha dos produtos, o ato da compra e o pagamento. Destina-se a vendas de produtos e serviços dos mais variáveis possíveis, como roupas, livros, eletrônicos, eletrodomésticos, pacotes de viagens, carros, etc.
</p>

</div>