<script type="text/javascript">
  $(document).ready(function(){
    $('a').click(function(){
      if ($('p#'+$(this).attr('name')).css('display') == 'none'){
        $('p#'+$(this).attr('name')).show('slow');
      } else {
        $('p#'+$(this).attr('name')).hide('slow');

      }
    });
  });	
</script>

<div id="colleft">
  <p><span style="font-size: 26px; color:#1D4482; font-weight: bold">A Célula Z</span> é uma uma rede 
	de relacionamento corporativo com o objetivo de gerar negócios para seus participantes. 
	Oferece soluções para um posicionamento inteligente de empresas e profissionais no mundo 
	digital.
  </p>
  <p>Nossas equipes e ferramentas propiciam a nossos usuários, a prospecção de negócios via 
	internet de forma simples, ágil, eficiente e com baixos custos de investimento. Nossa missão
	 é propiciar a inclusão digital dos negócios de pequenas e médias empresas e profissionais 
	liberais.
  </p>
  <p>Disponibilizamos ferramentas e consultoria que permitem ter o domínio administrativo do seu
	 site em mãos, editá-lo facilmente e realizar campanhas online que alcançarão empresas e 
	profissionais da Célula Z, a sua base de clientes e outros potenciais clientes que circulam 
	pelas redes sociais.
  </p>
  <p>A Rede de Negócios Célula Z foi criada para auxiliar empresas a atrair, manter e 
	rentabilizar clientes, a conquistar mercado e efetivar negócios usando as tecnologias 
	disponíveis hoje, em seu próprio benefício.
  </p>
  <p>Fale conosco e construa uma identidade digital para o seu negócio de forma simples, 
	criativa, inteligente e acessível. Não perca mais tempo: construa seu site, comunique-se 
	com seus clientes, relacione-se com outras empresas e profissionais, venda seu produto na 
	internet, consolide a sua imagem e cresça conosco.
  </p>
</div>
<div id="colright">
  <h2>Nossa Rede de Negócios possui:</h2>
  <p style="width:198px; padding: 0 0 0 10px!important; " ><img style="float:left;  margin-right:20px;" src="images/textdecoration02.gif" /><strong>C&aacute;talogo digital</strong></p>
  <p>Participe de um completo Catálogo Digital, exclusivo para empresas e profissionais, acessível para todos internautas;</p>
  <p style="width:198px; padding: 0 0 0 10px!important; " ><img style="float:left;  margin-right:20px" src="images/textdecoration02.gif" /><strong>Cart&atilde;o de visitas on line</strong></p>
  <p>Divulgue seu negócio para toda web; </p>
  <p style="width:198px; padding: 0 0 0 10px!important;"><img style="float:left; margin-right:20px" src="images/textdecoration02.gif" /><strong>Disco virtual</strong></p>
  <p>Explore os benefícios de um canal para armazenar e editar seus dados e arquivos na web;</p>
  <p style="width:210px; padding: 0 0 0 10px!important;"><img style="float:left; margin-right:20px" src="images/textdecoration02.gif" /><strong>Relacionamento corporativo</strong></p>
  <p>Envie e-mails, relacione-se com os participantes da Rede, atualize-se com a timeline do canal e abra novas portas para o seu negócio;</p>
  <p style="width:198px;padding: 0 0 0 10px!important; "><img style="float:left; margin-right:20px" src="images/textdecoration02.gif" /><strong>Envios de newsletter</strong></p>
  <p>Obtenha uma ferramenta exclusiva de envio de newsletter;</p>
  <p style="width:198px;padding: 0 0 0 10px!important; "><img style="float:left; margin-right:20px" src="images/textdecoration02.gif" /><strong>Site auto-gerenci&aacute;vel</strong></p>
  <p>Obtenha um site, tenha auxílio técnico para desenvolvê-lo e atualize você mesmo suas ações a hora que desejar.</p>
</div>