<script type="text/javascript">
  $(document).ready(function(){
    $('a').click(function(){
      if ($('p#'+$(this).attr('name')).css('display') == 'none'){
        $('p#'+$(this).attr('name')).show('slow');
      } else {
        $('p#'+$(this).attr('name')).hide('slow');

      }
    });
  });
</script>

<div id="colleft">
  <span style="font-size: 26px; color:#1D4482; font-weight: bold">A Célula Z </span>é uma empresa especializada em soluções para o mundo digital e prospecção de negócios na internet, direcionada para profissionais e empresas de todos os segmentos.
  Acreditamos no potencial de pequenas empresas e profissionais autônomos, por isso trabalhamos para que haja inclusão desses empreendedores na internet. Sites complicados, pesados e de atualização via terceiros dificultam esse processo. Por isso criamos uma ferramenta administrativa para que esses profissionais possam moderar seu próprio site facilmente, através de login e senha. Mudanças de conteúdos, layout e canal de relacionamento empresarial fazem parte da ferramenta. Ou seja, além do usuário ter o domínio administrativo do seu site em mãos, ele poderá também relacionar-se com outras empresas e profissionais liberais, aumentando assim sua rede de contatos e negócios.
  Você pode ser um macro ou micro empresário, profissional liberal ou autônomo. Na Célula Z há espaço para qualquer segmento profissional na internet. Não perca mais tempo: construa seu site, comunique-se com seus clientes, relacione-se com outras empresas, venda seu produto na internet, melhore sua imagem e cresça o seu negócio!
</div>
<div id="colright">

  •	Principais ações de publicidade e propaganda na<br/> internet que podemos implementar para seu negócio;
  <br/>
  •	Plano de marketing Célula Z na internet;
  <br/>
  •	A internet para todos;
  <br/>
  •	Acesso à informação;
  <br/>
  •	Explorando os benefícios da internet;
  <br/>
  •	Tecnologia Z: acessibilidade ao mercado digital;
  <br/>
  •	Cenário;
  <br/>
  •	Confiança e credibilidade para o seu negócio;
  <br/>
  •	Portal de Relacionamento Z: um ótimo canal de consulta para o mundo empresarial;
</div>

<div id="links" class="space">
  <a name="content-1" href="javascript:">+ Conheça as principais ações de publicidade e propaganda na internet que podemos implementar para seu negócio:</a>
  <p id="content-1" class="content">
    A Célula Z foi criada para auxiliar empresas a atrair, manter e rentabilizar clientes, conquistar mercado e efetivar negócios, desenvolvendo através da Internet, um canal de relacionamento com seu público e parceiros. Nossa missão é fazer do marketing interativo um diferencial para nossos clientes e, para tanto, desenvolvemos campanhas publicitárias e ações promocionais online, consultoria e prospecção de alianças e parcerias dentro da rede. Queremos não somente criar um excelente website para as empresas e sim torná-lo parte integrante do seu mix de ações digitais em mais um canal de negócios e de relacionamento com seus clientes, fornecedores e parceiros. Para isto utilizamos conceitos e ferramentas de Marketing como: publicidade, e-mail marketing, base de dados efetiva, campanhas de rede, marketing viral, Facebook, Twitter, entre
    outras.<br/>

    Caso você esteja tentando passar uma mensagem de marketing ou conduzir negócios na web, uma presença confiável é imprescindível. A Z oferece a oportunidade de otimizar gastos em seus investimentos online.
    <br/>
    Se você ainda não faz parte da rede de negócios da Célula Z, poderá buscar aqui, empresas, produtos e serviços, que venham atender às suas necessidades. Nos resultados também estará visível o número de indicações, referentes a qualidade de cada participante, tornando sua busca mais confiável. Como cliente, você também poderá indicar as empresas que já conhece.
    <br/>
    O conceito de montar o seu negócio com os recursos que você possui na sua empresa, não é nenhuma novidade, o que é novo é a forma de desenvolver este negócio, a tecnologia de hoje permite-nos realizar o tão sonhado negócio com mais autonomia e qualidade, com um computador ligado a internet o cliente está literalmente conectado ao mundo, onde quer que esteja, onde quer que vá.
    <br/>
    A internet já faz parte da vida das pessoas, e quem não se conectar a esta tendência vai perder uma excelente oportunidade de melhorar seus ganhos e sua qualidade de vida, a internet permite que você gerencie seu negócio de qualquer lugar do mundo que tenha uma conexão de internet.
    <br/>
    O número de internautas cresce exponencialmente, criando um mercado gigantesco de clientes potenciais, ávidos por bens de consumo e serviços. Por isso, nossas ferramentas foram desenvolvidas para que nosso cliente consiga tirar bom proveito deste cenário.
  </p>

  <a name="content-2" href="javascript:">+ Plano de marketing Célula Z na internet</a>
  <p id="content-2" class="content">
    Nosso trabalho de assistência em marketing e publicidade online é desenvolvido com objetivos voltados para fixação da marca, conquista do mercado pretendido, realização de negócios, relacionamento e fidelização de clientes.
    <br/>
    Um plano de web marketing tem diferentes fases, iniciando com a avaliação do cliente, seus produtos, perfil do público-alvo, análise dos concorrentes e definição das ações a serem implementadas, entre outras.
    <br/>
    A etapa mais importante é a criação do site, portal ou loja virtual. Que são facilmente comparáveis como uma vitrine de uma loja que expõe seus produtos ou serviços, com a vantagem que isso ocorre em tempo integral. Por isso planejamos e desenvolvemos soluções web, que se adequem às características e necessidades de cada cliente e seu mercado.
    <br/>
    O conteúdo do site é fator preponderante para a captação e fidelização de clientes. Um site com conteúdo sempre atualizado colabora para fixação da imagem da empresa junto aos seus clientes-potenciais.
    <br/>
    Por isso criamos sites utilizando a ferramenta Conta ZAdmin que permite a você mesmo atualizar o conteúdo do seu site de forma fácil e em tempo real.
    <br/>
    Nossa ferramenta permite um alto grau de interatividade para que o cliente possa criar, editar e controlar suas necessidades. Consequentemente, esse relacionamento colabora para fixação da imagem da empresa e vendas, que é o principal objetivo.
    <br/>
    Marcar presença na internet não pode se resumir a ter um site. É preciso utilizar a web como uma poderosa ferramenta de marketing que ela é. Para isso planejamos e implementamos campanhas de publicidade online com objetivo de divulgar o seu site para usuários com potencial para se tornarem seus clientes e adquirirem seus produtos ou serviços. Em uma campanha é importante escolher os sites e o perfil do público a quem direcionar os anúncios, segundo estudos demográficos e táticas como targeting.
  </p>


  <a name="content-3" href="javascript:">+ A internet para todos</a>
  <p id="content-3" class="content">
    A internet viabiliza a comunicação pessoal, o comércio e oportunidades para partilhar conhecimento. Uma das metas da Célula Z é tornar esses benefícios disponíveis a todas as empresas e profissionais, independentemente do seu equipamento, software, infra-estrutura de rede, cultura, localização geográfica ou capacidade física.
    <br/>
    A Célula Z dirige sua atenção para ações que apóiem diretamente a expansão da tecnologia de rede e suas vantagens mercadológicas, em um país como o Brasil, que está em crescente ascensão.
    <br/>
    O trabalho focado em sites e grupos na web globalizam e tornam independentes ações pessoais no ambiente digital. Além disso, outras iniciativas para ampliar a participação de todos na web acontecem, e naturalmente, a internet torna-se mais acessível para mais empresas e profissionais.
    <br/>
    A energia da Z está sendo depositada para aumentar a participação global no mercado e garantir que os resultados aconteçam de maneira extraordinária.
  </p>



  <a name="content-4" href="javascript:">+ Acesso à informação</a>
  <p id="content-4" class="content">
    A quantidade de pessoas capazes de acessar a Internet cresceu imensamente. Na última pesquisa realizada pelo Ibope, em março de 2010, apontava que 67,5 milhões de brasileiros têm acesso a rede.  Telefones, celulares, smartphones, assistentes pessoais digitais, e até mesmo eletrodomésticos que podem acessar a internet também contribuem para tal avanço. O mercado web mudou. O objetivo do projeto Célula Z, é tornar o acesso aos negócios e opções dos mercados mais acessíveis as pessoas.
  </p>


  <a name="content-5" href="javascript:">+ Explorando os benefícios da internet</a>
  <p id="content-5" class="content">
    A internet não é apenas um canal enorme onde as pessoas podem pesquisar e ver informações diversas. Ela é também uma imensa base de dados que, se for desenvolvida cuidadosamente, permite que os participantes realizem um trabalho ainda mais útil e efetivo. Ao desenvolver um canal que contenha informações tanto para o empresário e profissional, quanto para o usuário, a Célula Z quer ajudar as pessoas a resolverem problemas que de outra maneira seria inviável e complexo demais para serem solucionados.
  </p>

  <a name="content-6" href="javascript:">+ Tecnologia Z:</a>
  <p id="content-6" class="content">
    acessibilidade ao mercado digital
    <br/>
    Desde 2007, a Célula Z através do seu portal de relacionamento empresarial e seu site auto gerenciável, possibilita que empresários e profissionais promovam de forma, segura, fácil e prática seus negócios na internet. A iniciativa de acessibilidade da web continua promovendo a implantação das diretrizes existentes para acessibilidade em ferramentas avançadas para desenvolvimento. Além de ferramentas melhoradas a Z pretende acompanhar seus clientes em seus processos e percursos institucionais.
    <br/>
    A Célula Z almeja ver a internet como um ambiente verdadeiramente integrado que possibilite a expressão das empresas e seus negócios, considerando é claro suas diferenças e aspectos culturais, mas possibilitando oportunidades a todos os clientes posicionados em sistemas e geografias diversas.
  </p>

  <a name="content-7" href="javascript:">+ Cenário</a>
  <p id="content-7" class="content">
    À medida que a web se transforma num armazém ainda mais rico de conhecimento humano, precisamos de ferramentas cada vez mais potentes para procurar e interpretar a enorme quantidade de dados disponíveis; isso se aplica tanto a empresas quanto a profissionais.
    <br/>
    O sistema Z administra esses dados em escala de maneira organizada para promover boa comunicação entre todos os usuários.
    <br/>
    Os Serviços Z oferecem um meio de operação entre diferentes possibilidades de edição, funcionando em todas as plataformas e/ou estruturas. Nossos serviços são voltados para resultado.
    <br/>
    Confiança e credibilidade para o seu negócio
    <br/>
    A Célula Z está transformando a forma como o mercado empresarial se comunica na internet. Ao fazê-lo, ela também modifica a natureza dos nossos relacionamentos sociais. As empresas e profissionais agora se “encontram na web” e mantêm relacionamentos comerciais, às vezes sem jamais se encontrar pessoalmente.
    <br/>
    A Z reconhece a importância de criar tecnologias que estimulam a confiança e assim possibilitam interações cada vez mais complexas entre as partes em todo país.
    <br/>
    No caso da internet, o que significa estimular a confiança? Critérios e processos de avaliação do próprio cliente, estrutura, atendimento físico e personalizado foram os primeiros e importantes passos para criar confiança, permitindo que as pessoas se tornem mais a vontade para partilhar ou não informação a respeito delas na web.
  </p>

  <a name="content-8" href="javascript:">+ Portal de Relacionamento Z:</a>
  <p id="content-8" class="content">
    um ótimo canal de consulta para o mundo empresarial
    <br/>
    Tradicionalmente, uma das maneiras de criar confiança é mostrar alguma forma comprovada de identificação, como uma carteira de habilitação ou passaporte. Protocolos de autenticação similares ainda não estavam amplamente disponíveis na rede. A Célula Z organizou seu sistema para que somente profissionais e empresas identificados trabalhassem no software.
    <br/>
    Além disso, os atuais conceitos de autenticação on-line da Célula Z são feitos de maneira adequada, a fim de manter o sistema e modelo de funcionamento de maneira esperada e correta.
    <br/>
    A Z está explorando maneiras de garantir mais credibilidade a seus usuários em suas transações e facilitar o gerenciamento do seu negócio e sua identidade. A infra-estrutura criada para isso é ajustada para acomodar a riqueza das diferentes formas de vida no mercado digital.
    <br/>
    A Célula Z também tem um papel importante em transações confiáveis. Virando assim um excelente canal de consulta para o mundo empresarial e profissional. Além de proporciona igualdade de condições para grandes e pequenas empresas, o que possibilita que empreendimentos menores tenham melhores condições de obter visibilidade, mesmo com pouco investimento.
  </p>
</div>