.page-contract .actions {
	background:#eee;
	overflow:hidden;
	padding:10px;
	width:100%;
}

.page-contract .contract {
	height:450px;
	margin-bottom:10px;
	overflow:auto;
	padding:10px;
	width:100%;
}

.page-contract .actions form {
	text-align:right;
}

.page-contract .actions form input{
	display:inline;
	float:none;
}