/* Similar pages */

form .actions {
	width:62.5%;
	float:right;
}

form .actions div.buttons input {
	float:left;
	line-height:0;
	margin:0;
	margin-right:4px;
}

form .actions div.buttons a,
form .actions div.buttons span {
	display:block;
	float:left;
	position:relative;
	top:8px;
}

form .actions div.buttons span {
	margin-right:4px;
}


.page .contract {
	height:450px;
	margin-bottom:10px;
	overflow:auto;
	padding:10px;
	width:100%;
}

.page .actions form {
	text-align:right;
}

.page .actions form input{
	display:inline;
	float:none;
}

.business {
	width:100%;
}

.business p {
	float:left;
	padding:20px 0;
	width:100%;
}

.business label {
	background:none;
	display:block;
	float:left;
	margin-right:60px;
	width:216px;
}

.business input.text{
	float:left;
	margin-right:10px;
	width:50%;
}

.business input.number{
	float:left;
	margin-right:10px;
	width:5%;
}
.business textarea {
	float:left;
	height:10%;
	margin-right:10px;
	width:50%;
}

.business select {
	float:left;
	margin-right:10px;
	width:auto;
}

.business form span.separator {
	float:left;
	margin-right:10px;
	width:10px;
}

/* Index */

.index.campaigns {
	min-height:350px;
}

.index.campaigns .campaign {
	float:left;
	margin-bottom:20px;
	overflow:hidden;
	width:100%;
}

.index.campaigns .campaign .thumb {
	float:left;
	margin-right:20px;
	width:76px;
}

.index.campaigns .campaign .description {
	float:left;
	width:60%;
}

.index.campaigns .campaign .description .title,
.index.campaigns .campaign .description .text {
	margin-bottom:10px;
}

.index.campaigns .campaign .description p,
.index.campaigns .campaign .info p {
	margin:0;
}

.index.campaigns .campaign .info{
	float:right;
	width:20%;
}
.index.campaigns .campaign .info p{
	margin-bottom:8px;
}

.index.campaigns .campaign .info p.call a{
	color:#036;
	display:block;
	background:#DAEFFF;
	font-weight:bold;
	padding:4px 4px;
	text-decoration:none !important;
}

.pagination {
	float:left;
	width:100%;
}

/* Show */

.show.campaign {
	float:left;
	width:100%;
}

.show.campaign .description {
	float:left;
	width:52%;
}

.show.campaign .description p{ 
	margin:0;
	margin-bottom:10px;
}

.show.campaign .thumb,
.show.campaign .description {
	margin-bottom:20px;
	overflow:hidden;
}

.show.campaign .thumb {
	float:left;
	margin-right:20px;
	width:342px;
}

.show.campaign .observations {
	margin-bottom:20px;
	overflow:hidden;
	width:100%;
}

.show.campaign .observations ul li {
	list-style-type:inherit !important;
}

.show.campaign .actions {
	background:#eee;
	overflow:hidden;
	padding:10px;
	width:97.5%;
}

.show.campaign .actions .stats{
	float:left;
	overflow:hidden;
	width:30%;
}

.show.campaign .actions .stats ul{
	margin:0;
	padding:0;
}

.show.campaign .actions .buttons{
	float:right;
	height:30px;
	overflow:hidden;
}

.show.campaign .actions .buttons a{
	margin:0;
}
.show.campaign .actions .buttons a.back,
.show.campaign .actions .buttons span{
	position:relative;
	top:8px;
}

/* New */

a.tooltip {
	background:url("/images/icons/icon_tooltip.png") no-repeat;
	display:block;
	float:left;
	height:16px;
	width:16px;
	text-indent:-9999px;
}

