.col-left {
	clear:none;
	float:left;
	margin:0 30px 20px 0;
	width:20%;
}

.col-right {
	float:right;
	margin:0 30px 20px 0;
	width:70%;
}


.profile-thumb {
	margin-bottom: 20px; 
	height: 180px; 
	width:160px; 
	border: 5px solid rgb(239, 239, 239);
}

.relac-actions {
	float: left;
}

.relac-actions a {
	width: 120px; 
	padding-left: 40px !important; 
}

.relac-actions a.btn-msg{ 
	background:  url("../../images/company/icon-site.gif") no-repeat 6px 1px;
}

.relac-actions a.btn-relac { 
	background:url("../../images/company/icon-menu.png") no-repeat scroll 6px -170px;
}

.relac-actions a.btn-stop-relac { 
	background:url("../../images/company/icon-menu.png") no-repeat scroll 6px -170px;
}

.relac-request{
	float:left; 
	margin-top: 5px; 
	width: 130px;
}


.cv-info-basic h1 {
	padding: 0px !important;
	background-image: none;
	color:#003399;
	font-size:21px;
	margin-bottom:4px;
}

.cv-info-basic p.phones {
	font-size:12px;
	font-weight:800;
	margin:3px 5px 0 0;
	padding:5px 0;
	width:340px;
}

.box {
	margin-bottom:10px;
	overflow:hidden;
	width:100%;
}

.box p {
	float:left;
	margin-bottom:4px;
	width:100%;
}

.box h3{
	color:#003399;
	background:transparent url("../../images/new_version/title-decor.gif") no-repeat scroll 0px 2px;
	font-size:0.9em;
	padding-left: 12px;
}

#company-message-window {
	min-height:360px;
	width:300px;
}

#company-message-window label,
#company-message-window span.fieldWithError{
	display:block;
	float:left;
	width:300px;
}
#company-message-window label,
#company-message-window span.fieldWithError,
#company-message-window input#message-subject,
#company-message-window textarea {
	margin-bottom:10px;
}

#company-message-window span.fieldWithError {
	color:#d23630;	
}
 

#company-message-window input#message-subject, 
#company-message-window textarea {
	float:left;
	width:300px;
}

#company-message-window input#submit {
	float:left;
	width:100px;
}

.relationship {float: left}
#observation {width: 220px}

.pagination {clear: both;display: block;float: left;border-bottom: 1px solid #EEEEEE;width: 100%;margin-top: 10px; padding-bottom:10px }
.pagination a,.pagination span{padding:4px 4px;margin-right:5px;display:block;float:left}
.pagination span.current{font-weight:bold;color:gray}
.pagination a{text-decoration:none}
.next_page{background-image:url("/images/company/layout/ico-left.gif");width:15px;height:15px;text-indent:-9999px;}
.prev_page{background-image:url("/images/company/layout/ico-right.gif");width:15px;height:15px;text-indent:-9999px;}

div#ajax-loader {
	background:transparent url(/images/ajax-loader.gif) no-repeat;
	float:right;
	height:16px;
	top:6px;
	width:16px;
}

.testimonials {
	overflow:hidden;
	width:100%;
}

.testimonials .testimonial {}

.testimonials .form {
	overflow:hidden;
	width:100%;
}

.testimonials textarea {
	float:left;
	height:170px;
	margin-bottom:10px;
	width:520px;
}

.testimonials form .buttons {
	float:left;
	width:528px;
	text-align:right;
}

.testimonials form .buttons #submit_testimonial,
.testimonials form .buttons #cancel_testimonial {
	color:#fff;
	background:#394754;
}

.testimonials .moderation,
.testimonials .all_testimonials {
	float:left;
	overflow:hidden;
	width:600px;
}

.testimonials .testimonial {
	float:left;
	margin-bottom:10px;
	overflow:hidden;
	width:100%;
}


.testimonials .testimonial .avatar{
	background-color:#FFFFFF;
	border:#B4B4B4 1px solid;
	float:left;
	height:62px;
	overflow:hidden;
	width:62px;
}	

.testimonials .testimonial .content p{
	float:right;
	margin:0;
	padding:0;
	width:85%;
}

.testimonials .testimonial .content { 
	float:left;
	width:100%;
}

.testimonials .testimonial .actions {
	float:right;
	width:85%;
}

.partners {
	
	overflow:hidden;
	width:92%;
}