<div class="block">
  <h3>Negócios dos Clientes</h3>
  <div class="content">
    <p>Esta área é destinada à visualização dos negócios dos clientes. Assim como as informações associadas.</p>
  </div>
</div>