<a id="form_space" class="address-view" href="#">
	<%= @company.layout.address_site.street %>, 
	<%= @company.layout.address_site.number.to_s %> - <%= @company.layout.address_site.complement %> -
	<%= @company.layout.address_site.neighborhood %>
</a>