<div id="form_space2" class="city-form" style="display:none;">
	<% form_for :address, @company.layout.address_site, :url => {:controller=>"company/layout_contact", :action=>"update_component"}, :html => { :class => "edit_layout_city"} do |f|%>
		<%= hidden_field_tag "component_type", "city" %>
		<%= f.text_field :city, :class => 'text_field',:style=>"width:280px", :title=>"Rua, Avenida..."%>
		<div class="actions">
			<%= f.submit "Salvar" %>
		    <a href="#">Cancelar</a>
		</div>
	<% end %>				
</div>