<div id="form_space7" class="orkut-form" style="display:none;">
	<% form_for :layout, @company.layout, :url => {:controller=>"company/layout_contact", :action=>"update_component"}, :html => { :class => "edit_layout_orkut"} do |f|%>
		<%= hidden_field_tag "component_type", "orkut" %>
		<%= f.text_field :orkut, :class => 'text_field',:style=>"width:280px"%>
		<div class="actions">
			<%= f.submit "Salvar" %>
		    <a href="#">Cancelar</a>
		</div>
	<% end %>				
</div>