
<h1 style="background-image: none;clear: right !important;color: #000;font-size: 21px;font-weight: normal;line-height: 1;margin: 3px 0;padding: 0 !important;text-align: left;"><%=h @user.login %>, Sua senha foi reiniciada.</h1>
<br>
