<div id="message-actions">
<%= link_to "Nova mensagem", "javascript:", :class => "new btn", :id => "new" %>
<%= link_to "Excluir selecionados", "javascript:", :class => "delete btn", :id => "delete" %>
</div>
