<a href="javascript:" class="change-password">Alterar Senha</a>
<div id="change-password">
  <div class="notice-password"></div>
  <div class="error-password"></div>
  <%=render :partial=>"company/accounts/form"%>
</div>
