/* AutoSuggest CSS - Version 1.2 */

ul.as-selections {
	list-style-type: none;
	height: 25px;
}

ul.as-selections.loading {
	background-color: #eee;
}

ul.as-selections li {
	float: left;
	}

ul.as-selections li.as-selection-item {
   border:1px solid ;
   border-color:  #F6F6F6 #CCCCCC #CCCCCC  #F6F6F6 ;
background-color:#f6f6f6;
color:#2B3840;
margin-right: 3px;
font-family:"Lucida Grande",arial,sans-serif;
font-size:12px;
font-weight: bold;
line-height:1;
padding:5px 10px;
}

ul.as-selections li.as-selection-item:last-child {
	margin-left: 30px;
}

ul.as-selections li.as-selection-item a.as-close {
	float: right;
	margin: 1px 0 0 7px;
	padding: 0 2px;
	cursor: pointer;
	color: #333;
	font-family: "Helvetica", helvetica, arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

ul.as-selections li.as-selection-item.blur {
	color: #666666;
	background-color: #f4f4f4;
	border:1px solid ; border-color:  #F6F6F6 #CCCCCC #CCCCCC  #F6F6F6 ;
	
}

ul.as-selections li.as-selection-item.blur a.as-close {
	color: #999;
}

ul.as-selections li:hover.as-selection-item {
	color: #2b3840;
	background-color: #bbd4f1;
	
	border-color: #6da0e0;
	border-top-color: #8bb7ed;
}

ul.as-selections li:hover.as-selection-item a.as-close {
	color: #4d70b0;
}

ul.as-selections li.as-selection-item.selected {
	border-color: #1f30e4;
}

ul.as-selections li.as-selection-item a:hover.as-close {
	color: #1b3c65;
}

ul.as-selections li.as-selection-item a:active.as-close {
	color: #4d70b0;
}

ul.as-selections li.as-original {
	margin-left: 0;
}

ul.as-selections li.as-original input {
	border: none;
	font-size: 13px;
	height: 18px;
	outline: none;
	padding-top: 3px;
	width: 150px;
}

ul.as-list {
	position: absolute;
	list-style-type: none;
	margin: 2px 0 0 0;
	padding: 0;
	background-color: #f6f6f6;
	z-index: 2;
         border:1px solid #CCCCCC  ;
}

li.as-result-item, li.as-message {
	margin: 0 0 0 0;
	padding: 5px 12px;
	background-color: transparent;
	border: 1px solid #fff;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
}

li:first-child.as-result-item {
	margin: 0;
}

li.as-message {
	margin: 0;
	cursor: default;
}

li.as-result-item.active {
	background-color: #DAEFFF;
	border-color: #6da0e0;
	color: #333;
}

li.as-result-item em { 
	font-style: normal; 
	background: #444;  
	padding: 0 2px;
	color: #fff;
}

li.as-result-item.active em { 
	background: #6da0e0;
	color: #fff;
}

