<% stylesheet "system_modules/business"%> 
<% javascript "system_modules/business"%>


<div class="page">
	<h2>Termo de ades&atilde;o ao sistema de web marketing</h2>
	<div class="contract">
		<p>
			CONTRATA: <strong>Célula Z serviços em internet LTDA</strong>, doravante denominada simplesmente CONTRATADA, pessoa 
			jurídica, com sede na Na Av Maua, 2011 Sl 1201, Porto Alegre, estado do Rio Grandeo do Sul, inscrita no Cadastro 
			Nacional de Pessoas Jurídicas sob nº 092350330001-95, nos termos a seguir:
		</p>
		<p>
			O CONTRATANTE, pessoa jurídica ou física, possuidor(a) de uma conta Junto as ferramentas “Conta Z”, “Conta Z.A” e 
			Planos da Célula Z, todas acessadas por meio do endereço virtual www.celulaz.com.br, cujos dados cadastrais 
			encontram-se  discriminados no contrato de adesão, efetivado entre as partes para uso das ferramentas supra 
			descritas, objetivando utilizar-se do programa e suas respectivas ferramentas e soluções concernentes ao sistema de 
			“WEB MARKETING” acima mencionado, para viabilizar anúncio, distribuição e/ou divulgação de seus produtos 
			e/ou serviços na Internet, através e área de anúncio, adere ao presente contrato eletrônico, aceitando e 
			concordando com as seguintes condições de uso.
		</p>
		<p>
			Considerando-se que o presente contrato estabelece condições para os relacionamentos comerciais derivados da 
			contratação de sistema de "WEB MARKETING", abaixo definido, constituída pela prestação de serviços organizacionais e
			 de tecnologia de divulgação e publicidade pela CONTRATADA à CONTRATANTE.
		</p>
		<p>
			Considerando-se que as seguintes condições são válidas para todos os parceiros do programa de associados do 
			SITE – www.celulaz.com.br, independentemente de sua localização geográfica. Adere o(a) CONTRATANTE ao presente 
			Termo de Adesão a Sistema de “WEB MARKETING” nas condições abaixo estabelecidas:
		</p>
		<h3>I - DO OBJETO</h3>
		<p>
			<strong>Cláusula Primeira.</strong> O presente Termo de Adesão a sistema de “WEB MARKETING” refere-se à 
			disponibilização pela CONTRATADA, de área específica para divulgação, anúncio, distribuição de produtos e/ou 
			serviços do(a) CONTRATANTE, junto ao ambiente virtual denominado de “Célula Z” (www.celulaz.com.br).
		</p>
		<h3>II – DAS REGRAS PARA UTILIZAÇÃO DO SISTEMA DE “WEB MARKETING”</h3>
		<p>
			<strong>Cláusula Segunda.</strong> A utilização do sistema de “WEB MARKETING” dar-se-à por meio de acesso ao link 
			“MEUS NEGÓCIOS”, localizado a esquerda da página de apresentação da conta do(a) CONTRATANTE.
		</p>
		<p>
			<strong>Cláusula Terceira.</strong> A divulgação, anúncio, distribuição de produtos e/ou serviços do(a) CONTRATANTE,
			 junto ao ambiente virtual denominado de “Célula Z” (www.celulaz.com.br), dar-se-à por meio de uma ação de venda.
		</p>
		<p>
			<strong>Cláusula Quarta.</strong> Cabe exclusivamente ao CONTRATANTE a definição da ação de venda a ser anunciada na 
			área especifica para tanto disponibilizada pela CONTRATADA, podendo o(a) CONTRATANTE definir:
		</p>
		<ul>
			<li>a) O título da promoção, anúncio e/ou divulgação dos produtos e/ou serviços a serem disponibilizados aos seus 
				clientes;</li>
			<li>b) Descrição da promoção, anúncio e/ou divulgação dos produtos e/ou serviços a serem disponibilizados aos seus
				 clientes;</li>
			<li>c) A imagem, limitada a 1 megabyte, que será vinculada a campanha de divulgação, anúncio e/ou promoção dos produtos 
				e/ou serviços a serem disponibilizados aos seus clientes;</li>
			<li>d) O total de unidades dos produtos e/ou serviços a serem disponibilizados aos seus clientes;</li>
			<li>e) O total de unidades dos produtos e/ou serviços que cada cliente poderá adquirir;</li>
			<li>f) O preço dos produtos e/ou serviços a serem disponibilizados aos seus clientes;</li>
			<li>g) A duração de veiculação da ação de venda a ser anunciada, publicada e/ou divulgada, em especial, a data em que a 
			mesma expira;</li>
			<li>h) A data de validade do CUPOM a ser adquirido pelos usuários e/ou internautas.</li>
		</ul>
		<p>
			<strong>Parágrafo Primeiro.</strong> O(A) CONTRATANTE obrigar-se-á a não divulgar qualquer ação de venda que violem
			 direitos autorais, direitos de imagem, bem como que sejam de alguma forma ofensivas ao público em geral e/ou 
			violem o ordenamento jurídico vigente. Desde já o CONTRATANTE manifesta-se ciente de que é de sua exclusiva 
			responsabilidade o conteúdo que será divulgado na sua ação de venda, eximindo CIVIL e CRIMINALMENTE a CONTRATADA de
			 qualquer responsabilidade acerca do conteúdo divulgado.
		</p>
		<p>
			<strong>Parágrafo Segundo.</strong> A CONTRATADA se reserva o direito de retirar, total ou parcialmente, da área
			 específica para divulgação, anúncio, distribuição de produtos e/ou serviços do(a) CONTRATANTE, junto ao ambiente 
			virtual denominado de “Célula Z” (www.celulaz.com.br), sem necessidade de aviso prévio, toda e qualquer ação de 
			venda que viole direitos autorais, direitos de imagem, bem como que sejam de alguma forma ofensivas ao público em
			 geral e/ou viole o ordenamento jurídico vigente.
		</p>
		<p>
			<strong>Parágrafo Terceiro.</strong> Entende-se por divulgação ação de venda imprópria, e passível de retirada da
			 área de anúncio da CONTRATADA a veiculação de textos, fotos, sons ou em qualquer outro formato que:
		</p>
		<ul>
			<li>a) manifestem discriminação racial, sexual, de crença, costumes ou qualquer outra;</li>
			<li>b) Divulguem, ainda que não comercialize, informações sobre objetos e atividades ilícitas ou que incitem a 
				atividades tipificadas como crime ou contravenção;</li>
			<li>c) Divulguem material pornográfico;</li>
			<li>d) Divulguem informações caluniosas, difamatórias ou injuriosas;</li>
			<li>e) Infrinjam a legislação de Propriedade Intelectual e Direitos Autorais;</li>
			<li>f) De alguma forma violem preceitos jurídicos vigentes.</li>
		</ul>
		<p>
			<strong>Cláusula Quinta</strong>. Em caso de descumprimento pelo(a) CONTRATANTE dos parágrafos primeiro, e/ou
			 segundo e/ou terceiro, a CONTRATADA reserva-se o direito de postular judicialmente indenização por eventuais danos
			 materiais e/ou morais causados pela conduta praticada pelo(a) CONTRATANTE.
		</p>
		<p>
			<strong>Cláusula Sexta.</strong> Definida a ação de venda por parte da CONTRATANTE, esta será divulgada na área
			 específica para divulgação, anúncio, distribuição de produtos e/ou serviços do(a) CONTRATANTE, junto ao ambiente
			 virtual denominado de “Célula Z” (www.celulaz.com.br), disponibilizando-se desde então a visualização e/ou 
			comercialização dos produtos e/ou serviços anunciados.
		</p>
		<p>
			<strong>Cláusula Sétima.</strong> A CONTRATADA disponibilizará os recursos tecnológicos desta operação 24 (vinte e
			 quatro) horas por dia, 7 (sete) dias por semana, exceto por razões de ordem técnica que exijam suspensão da
			 prestação dos serviços para manutenção de equipamentos, sistemas ou canais de comunicação, alheias à vontade da 
			CONTRATADA.
		</p>
		<p>
			<strong>Parágrafo Único.</strong> Em hipótese alguma essas interrupções na prestação dos serviços implicarão em
			 obrigatoriedade de indenização ou ressarcimento de qualquer natureza, bem como qualquer responsabilidade por parte
			 da CONTRATADA.
		</p>
		<h3>III - DA REMUNERAÇÃO</h3>
		<p>
			<strong>Cláusula Oitava.</strong> A mera disponibilização da ação de venda do(a) CONTRATANTE, conforme descrito na
			 Cláusula Sexta, não será cobrada pela CONTRATADA. 
		</p>
		<p>
			<strong>Cláusula Nona.</strong> Serão cobrados pela CONTRATANTE apenas as ações de venda que possuírem efetiva 
				concretização, a qual será verificada mediante o “clique” de qualquer usuário e/ou internauta sobre o 
				Link “ADQUIRIR CUPOM”.
		</p>
		<p>
			<strong>Cláusula Décima.</strong> A CONTRATADA receberá, a título de remuneração pela prestação dos serviços 
			objetos deste contrato, a cada “clique” de qualquer usuário e/ou internauta sobre o Link “ADQUIRIR CUPOM”, um 
			percentual variável sobre o valor do produto e/ou serviço a ser anunciado, divulgado ou publicado.
		</p>
		<p>
			<strong>Parágrafo Único.</strong> A remuneração a ser cobrada, conforme descrita no caput, será variável em razão 
			do preço unitário do produto e/ou serviço a ser anunciado, divulgado ou publicado, e seguirá a seguinte progressão:
		</p>
		<table>
			<tr>
				<th>
					Faixa de VALOR UNITÁRIO do produto e/ou serviço disponibilizado pelo CONTRATANTE
				</th>
				<th>
					Comissão devida à CONTRATADA SOBRE O VALOR EFETIVO do produto e/ou serviço disponibilizado pelo CONTRATANTE
				</th>
			</tr>
			<tr>
				<th>R$ 0,01 até R$ 100,00</th>
				<th>5%</th>
			</tr>
			<tr>
				<th>R$ 100,01 até R$ 200,00</th>
				<th>4,5%</th>
			</tr>
			<tr>
				<th>R$ 200,01 até R$ 300,00</th>
				<th>4%</th>
			</tr>
			<tr>
				<th>R$ 300,01 até R$ 500,00</th>
				<th>3,5%</th>
			</tr>
			<tr>
				<th>R$ 500,01 até R$ 1.000,00</th>
				<th>3%</th>
			</tr>
			<tr>
				<th>R$ 1.000,01 até R$ 3.000,00</th>
				<th>2,5%</th>
			</tr>
			<tr>
				<th>R$ 3.000,01 até R$ 8.000,00</th>
				<th>2%</th>
			</tr>
			<tr>
				<th>R$ 8.000,01 até R$ 26.000,00</th>
				<th>1,5%</th>
			</tr>
			<tr>
				<th>R$ 26.000,01 até R$ 50.000,00</th>
				<th>1%</th>
			</tr>
			<tr>
				<th>R$ 50.000,01 até R$ 100.000,00</th>
				<th>0,5%</th>
			</tr>
			<tr>
				<th>R$ 100.000,01 até R$ 300.000,00</th>
				<th>0,1%</th>
			</tr>
			<tr>
				<th>Acima de R$ 300.000,00</th>
				<th>0,05%</th>
			</tr>
		</table>
		<p>
			<strong>Cláusula Décima Primeira.</strong> A remuneração calculada será apresentada ao CONTRATANTE, via boleto
			 bancário, para pagamento até o dia 15 do mês subsequente à concretização das ações de venda publicadas, anunciadas
			 e/ou divulgadas pelo(a) CONTRATANTE.
		</p>
		<p>
			<strong>Parágrafo Único.</strong> Caso a remuneração pela prestação dos serviços objeto deste contrato, conforme especificado
				 na Cláusula Décima, não alcançar o valor mínimo de R$ 30,00 (Trinta reais) no mês a ser efetuada a cobrança,
				 esta será acumulada para o mês subsequente, e assim sucessivamente, até que a soma do(s) meses ultrapasse a 
				quantia mínima de R$ 30,00 (Trinta reais).
		</p>
		<p>
			<strong>Cláusula Décima Segunda.</strong> Estando o(a) CONTRATANTE inadimplente, será considerado automaticamente 
			em mora, independente de notificação, reservando-se a CONTRATADA o direito a bloquear o uso do sistema de 
			“WEB MARKETING” do(a) CONTRATANTE que não efetuar o pagamento da remuneração devida pelos serviços prestados por 2
			 (dois) meses seguidos, ou 6 (seis) meses alternados, ressalvados os casos descritos no Parágrafo Único da Cláusula
			 anterior.
		</p>
		<p>
			<strong>Cláusula Décima Terceira.</strong> Caso ocorra inadimplência por parte do CONTRATANTE, este estará sujeito
			 ao pagamento, além do principal, de juros moratórios de 12% (doze por cento) ao ano e multa moratória de 2% 
			(dois por cento) sobre o total da dívida, além de custas e honorários advocatícios de até 20% (vinte por cento) 
			incorridos no esforço de cobrança.
		</p>
		<h3>IV - DO PRAZO DO CONTRATO</h3>
		<p>
			<strong>Cláusula Décima Quarta.</strong> O presente contrato vigerá por prazo INDETERMINADO.
		</p>
		<h3>V - RESCISÃO DO CONTRATO</h3>
		<p>
			<strong>Cláusula Décima Quinta.</strong> Poderá haver rescisão deste contrato nas seguintes hipóteses:
		</p>
		<ul>
			<li>a) descumprimento das obrigações assumidas por umas das partes ou se ficar caracterizado comportamento 
				inadequado do CONTRATANTE, conforme Parágrafo Terceiro da Cláusula Quarta do presente Termo de Adesão;</li>
			<li>b) manifestação com 30 (trinta) dias de antecedência, por escrito, comunicando a outra parte da intenção de
				 rescindir;</li>
			<li>c) decretação ou requerimento de concordada ou falência de uma das partes;</li>
			<li>d) demais hipóteses com previsão legal.</li>
		</ul>
		<h3>VI - DISPOSIÇÕES GERAIS</h3>
		<p>
			<strong>Cláusula Décima Sexta.</strong> A CONTRATADA poderá transferir ou terceirizar os serviços objetos deste 
			contrato, no todo ou em parte, a outras empresas, a seu exclusivo critério, desde que garantidas as 
			funcionalidades à disposição do CONTRATANTE.
		</p>
		<p>
			<strong>Cláusula Décima Sétima.</strong> A senha para acesso a conta junto à ferramenta de relacionamento virtual
			 denominada “Célula Z”, e consequentemente, para uso do sistema de “WEB MARKETING”, é de uso pessoal e 
			intransferível do(a) CONTRATANTE, sobre a qual terá toda e exclusiva responsabilidade.
		</p>
		<p>
			<strong>Cláusula Décima Oitava.</strong> O CONTRATANTE autoriza a CONTRATADA a utilizar seu nome ou marca em ações
			 de marketing, sem qualquer ônus ou remuneração.
		</p>
		<p>
			<strong>Cláusula Décima Nona.</strong> As partes elegem o foro da comarca de Porto Alegre, Estado do Rio Grande do
			 Sul para dirimir quaisquer dúvidas que porventura surjam na interpretação das cláusulas do presente instrumento, 
			com renúncia de qualquer outro foro, por mais privilegiado que seja. A aceitação ao presente contrato é 
			manifestada, de forma inequívoca, pelo simples pressionamento do botão "Aceito o contrato" ou pressionamento da 
			tecla "ENTER", por serem estas as formas do CONTRATANTE prosseguir e realizar as tarefas necessárias ao uso e gozo
			 do sistema de “WEB MARKETING” disponibilizado pela CONTRATADA.
		</p>
	</div>

		<% form_tag :controller => "system_modules/businesses", :action => "business_contract" do %>
			<%= hidden_field_tag "user[accepted_business_contract]", true %>
			<div class="actions">
				<%= submit_tag 'Aceitar contrato', :class => "accept-button" %>
			</div>
		<% end %>
</div>
