<% stylesheet "system_modules/business"%> 
<% javascript "system_modules/business"%>


<div class="page-contract">
	<h2>Termo de utiliza&ccedil;&atilde;o do m&oacute;dulo neg&oacute;cios</h2>
	
</div>
	
	
	