<% stylesheet "system_modules/business"%> 
<% javascript "system_modules/business"%>


<div class="page-contract">
	<h2>Termo de utiliza&ccedil;&atilde;o do m&oacute;dulo neg&oacute;cios</h2>
	<p class="warn" style='width:100%;margin:0 auto;'>Aguarde enquanto estamos reformulando mais uma nova funcionalidade para os
		participantes da rede.</p>
</div>
	
	
	