<% stylesheet "system_modules/business" %> 
<% javascript "third/jquery.qtip-1.0.0-rc3.min", "system_modules/business" %>

<%= render :partial => "menu" %>

<div class="business">
	<%= render 'form' %>
</div>