<% stylesheet "system_modules/business" %> 
<% javascript "system_modules/business" %>

<%= render "menu" %>

<div class="page">
	<h2>Sua a&ccedil;&atilde;o de venda inteligente na internet</h2>
	<p>
		Quem anuncia, divulga seu neg&oacute;cio, capta clientes e gasta muito pouco. Quem compra,
		n&atilde;o gasta nada, apenas aproveita as ofertas e acumula cupons para compras mais
		baratas.
	</p>
	<h3>Passo a passo</h3>
	<p>
		<strong>1) Criar campanha</strong><br />
		Crie um anúncio e divulgue uma oferta para os participantes da Rede.
	</p>
	<p>
		<strong>2) Adquirir cupons</strong><br />
		Os participantes que se interessarem poderão adquirir seus cupons para comprar com 
		desconto.
	</p>
	<p>
		<strong>3) Investimento</strong><br />
		Para divulgar sua empresa e captar novos clientes o investimento é baixíssimo. Por exemplo,
		se você ofertou 20 produtos por R$ 20,00, vendendo apenas 1 produto, você já supre o 
		investimento.
	</p>	
	<p>
		<strong>Importante saber</strong>
	</p>
	<p>
		<strong>Para vender</strong><br />
		- O custo benefício é excelente: publicidade, geração de negócios, captação de clientes e
		valor mínimo para anunciar sua empresa na internet (baixe a tabela). <br />
		- Você pode criar e veicular quantas campanhas desejar. Enviaremos um boleto para seu
		endereço conforme as pessoas forem adquirindo cupons.<br />
		- Você não precisa ter estoque de produtos.
		- Você gerencia suas campanhas, possui relatório de desempenho e visibilidade, através do
		controle da quantidade de cupons distribuidos e compras efetivadas.
	</p>
	<p>
		<strong>Para comprar</strong><br />
		- Aqui você não gasta nada, so ganha. <br />
		- Você não precisa ter cartão de crédito ou fazer qualquer tipo de depósito. 
		Basta se interessar por uma promoção, ser rápido para adquirir o cupom antes do fim da 
		campanha e aproveitar seu desconto.
	</p>
	<h3>Tabela comparativa</h3>
	<table>
		<tr>
			<th>
				Faixa de VALOR UNITÁRIO do produto e/ou serviço disponibilizado pelo participante
			</th>
			<th>
				Comissão devida à CélulaZ SOBRE O VALOR EFETIVO do produto e/ou serviço disponibilizado pelo participante
			</th>
		</tr>
		<tr>
			<th>R$ 0,01 até R$ 100,00</th>
			<th>5%</th>
		</tr>
		<tr>
			<th>R$ 100,01 até R$ 200,00</th>
			<th>4,5%</th>
		</tr>
		<tr>
			<th>R$ 200,01 até R$ 300,00</th>
			<th>4%</th>
		</tr>
		<tr>
			<th>R$ 300,01 até R$ 500,00</th>
			<th>3,5%</th>
		</tr>
		<tr>
			<th>R$ 500,01 até R$ 1.000,00</th>
			<th>3%</th>
		</tr>
		<tr>
			<th>R$ 1.000,01 até R$ 3.000,00</th>
			<th>2,5%</th>
		</tr>
		<tr>
			<th>R$ 3.000,01 até R$ 8.000,00</th>
			<th>2%</th>
		</tr>
		<tr>
			<th>R$ 8.000,01 até R$ 26.000,00</th>
			<th>1,5%</th>
		</tr>
		<tr>
			<th>R$ 26.000,01 até R$ 50.000,00</th>
			<th>1%</th>
		</tr>
		<tr>
			<th>R$ 50.000,01 até R$ 100.000,00</th>
			<th>0,5%</th>
		</tr>
		<tr>
			<th>R$ 100.000,01 até R$ 300.000,00</th>
			<th>0,1%</th>
		</tr>
		<tr>
			<th>Acima de R$ 300.000,00</th>
			<th>0,05%</th>
		</tr>
	</table>
</div>