<% stylesheet "system_modules/business" %> 
<% javascript "third/jquery.qtip-1.0.0-rc3.min", "system_modules/business" %>

<%= render :partial => "menu" %>

<div class="business">
	<h2>Passo 01 - Dados da campanha</h2>
	<%= render 'form' %>
</div>