/* 
    Document   : buscaexterna
    Created on : 24/08/2010, 01:45:15
    Author     : Guilherme
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#header { height:110px; position:relative;}

#header #logo { width:154px; height:65px; display:block; background:url(../images/new_version/logo-small.gif) no-repeat; text-indent:-9999px; overflow:hidden; position:absolute; left:20px; top:15px;}

#busca-padrao {
    float:left;
    margin:25px 0 0 200px;
    position: relative
}
#busca-padrao #busca-campo {
    border:1px solid #ccc;
    background: #fff;
    padding:5px;
    float:left;
    width:200px;
    margin: 0;
}


#busca-padrao form fieldset input.submit {
    background:url(../images/new_version/pesquisa-submit.gif) no-repeat scroll  top transparent;
    width:28px;
    padding: 5px;
    border:none;
    top:-3px;
    color: #f60;
    float:left;
    text-indent:-9999px;
    display: block;
    cursor: pointer;
    margin: 1px 0 0 5px;
}
abbr, acronym, img, fieldset {
    border:0 none;
}

fieldset, form{position: relative}

.styleCombobox {
    background: #fff;
    float:left;
    width:208px;
    padding:4px;
    margin: 0 0 0 4px;
    border:1px solid #ccc;
}


#container-master {
    margin:0px auto auto;
}
#container-master h1 {
    color:#00395F;
    font-size:18px;
    font-weight:800;
    line-height:1.6;
}
#container-master h2 {
    font-size:12px;
    font-weight:800;
    line-height:3;
}


#container-master #side-bar {
    width:180px;
    float:right;
}

/* pagination */

#search-control{width:100%;text-align: right;border-bottom:1px solid #eee;margin-bottom:5px; float: left}
#search-control-bottom{width:100%;text-align: right;border-top:1px solid #eee;margin-bottom:5px; float: left}
.pagination{padding:10px 0;height:20px;float:right; }
.pagination a,.pagination span{padding:4px 4px;margin-right:5px;display:block;float:left}
.pagination span.current{font-weight:bold;color:gray}
.pagination a{text-decoration:none}
.next_page{background-image:url("/images/company/layout/ico-left.gif");width:15px;height:15px}
.prev_page{background-image:url("/images/company/layout/ico-right.gif");width:15px;height:15px}

#side-bar{
    float:left;
margin:0 0 0 40px;
width:170px;
}
