<div class="campaign">
	<div class="author">
		<%= link_to feed_item.feeds.first.company.name, system_modules_profile_path(feed_item.feeds.first.company) %>
	</div>
	<div class="picture">
		<%= image_tag feed_item.item.business_image.url(:small) %>
	</div>
	<div class="info">
		<h5><%= feed_item.item.title %></h5>
		<h5><%= link_to "Ver campanha", system_modules_business_path(feed_item.item) %></h5>
	</div>
</div>