<div class="block">
  <h3>Como alterar um domínio</h3>
  <div class="content">
    <p>Para criar um domínio para um cliente, basta clicar na coluna domínio na lista. Aparecerá um campo de texto e deve ser incluído o domínio do cliente sem "www.". </p>
    <p>Para cadastrar mais de um domínio, basta incluí-los separados por ponto e vírgula (";"). Exemplo: dominio1.com.br;dominio2.com.br</p>
    <p>Para que o domínio esteja totalmente funcional, ele deve estar registrado corretamente no nosso servidor (contate um administrador).</p>
  </div>
</div>
<div class="block">
  <h3>Publicar sites pendentes</h3>
  <div class="content">
    <p>Clique no link abaixo para gerar os sites que ainda não tenham sido publicados nenhuma vez. O site publicados é o que será exibido com o domínio.</p>
    <%=link_to "Publicar",:controller=>"/company/publish", :action=>"publish_pending"%>
  </div>
</div>