<div id="texto">
  <%= component_text.show_all_content ? component_text.description : html_truncate(component_text.description,100) %>
  <br/><br/>
  <% if component_text.description.length > 1000 && !component_text.show_all_content %>
    <div class="link"><%= link_to "Saiba mais...",z_component_path(@user.login,component_text) %></div>
  <% end %>
</div>