<%= link_to("<div class='facebook'></div>",@layout.facebook,:popup=>true,:class=>"facebook") unless @layout.facebook.blank? %>
<%= link_to("<div class='orkut'></div>",@layout.orkut,:popup=>true,:class=>"orkut") unless @layout.orkut.blank? %>
<%= link_to("<div class='twitter'></div>",@layout.twitter,:popup=>true,:class=>"twitter") unless @layout.twitter.blank? %>
<%= link_to("<div class='flickr'></div>",@layout.flickr,:popup=>true,:class=>"flickr") unless @layout.flickr.blank? %>