<h2>Sua conta foi alterada para um cadastro S</h2>
Uma conta é alterada para um cadastro S quando ocorrem problemas com seus pagamentos. <br>
Enquanto você possuir um cadastro S, seu site (<%=link_to "http://#{SITE_URL}/sites/#{@user.login}/","http://#{SITE_URL}/sites/#{@user.login}/"%>) não poderá ser acessado, e suas ferramentas de construção e personalização estaram inativas.
<p>
  Entre em contato com seu Administrador Web e fique em dia com suas pendências.
</p>