<h2>Parabéns, você adquiriu uma conta Z!</h2>
Além de todas as vantagen que você usufrui ao participar do <%= I18n.t "company.site_title" %>, você também ganha:<br>
- Um site totalmente iterativo para você divulgar os seus negócios. Podendo ser acessado do endereço <%=link_to "http://#{SITE_URL}/z/#{@user.login}","http://#{SITE_URL}/sites/#{@user.login}"%>.<br>
- Ferramentas de personalização e construção do seu site localizadas na sua <%=link_to "Área de Gerenciamento","http://#{SITE_URL}/empresa/construcao" %>.<br/>
- E muito mais pela frente<br/>
<p>
  Qualquer dúvida, entre em contato com seu Administrador Web.
</p>
