<% @layout.tabs_with_components.each do |tab| %>
  <li <%= tab_selected.eql?(tab) ? "class='current_page_item'" : ""%>><%= link_to tab.title, "#{@layout.tabs_with_components.first.eql?(tab) ? "/sites/#{URI::escape @user.login}/index" : "/sites/#{URI::escape @user.login}/index#{tab.id}"}.html",:class=>(tab.eql?(tab_selected) ? "current_page_item" : "") %></li>
<% end %>