<script type="text/javascript">
  //reativa botao fechar
  $('.box-novo-conteudo span.remove').click(function(){
    $('#box-incluir-conteudo').slideUp('fast');
    $('#openMenu').removeClass('active');
    $('#box-incluir-conteudo').load('/company/conteudo-menu.html');
  });

  //ajusta altura sidebar
  $('#box-sidebar').css('height', $('#box-content').height());

  //cria novo conteudo
  $('.btn-concluir').click(function(){
    if ($('#box-content #urlvideo').val() == ''){
      alert('Campo "Url do vídeo" deve ser preenchido');
    } else {
      createContentEditado(<%=@component.id%>, $('#box-content #titulo1').val(), null,$('#box-content #urlvideo').val());
      $('.box-novo-conteudo span.remove').trigger('click');
    }
  });

  trataCampos('.input');
  trataCampos('.urlvideo');
</script>

<div id="box-sidebar"> <img src="/images/company/ico-novo-video.png" width="95" height="81" alt="Video" />
<p>VIDEO</p>
</div>
<div id="box-content">
  <input type="text" name="titulo1" id="titulo1" class="input radius" value="<%=@component.title%>" />
  <p>Url do v&iacute;deo</p>
  <input type="text" name="urlvideo" id="urlvideo" class="urlvideo radius" value="<%=@component.url%>" />
  <br class="clearfloat" />
  <img src="<%="http://img.youtube.com/vi/#{recover_url_image_code(@component.url)}/0.jpg"%>" width="340" height="250" alt="YouTube" class="urlvideo-img" /> <br class="clearfloat" />
  <input type="submit" value="CONCLUIR" class="btn-concluir" />
</div>
<span class="remove"></span> <br class="clearfloat" />