<div id="barralayout"  class="barralatera">
  <div id="topolateral" ></div>

  <div style="padding-left:20px;">
    <h1>Avaliações</h1>
    Positivas: <%=company.votes_for%><br>
    Negativas: <%=company.votes_against%><br>
    <div style="font-size:10px; margin-top:5px;">Total: <%=company.votes_count%></div>
  </div>
  <div id="rodapedireito"  ></div>
</div>
