<% javascript "third/jquery.colorbox-min", "third/jquery-ui-1.8.4.custom.min", "third/jquery.scrollTo-1.4.2-min", "system_modules/profiles" %>
<% stylesheet  "third/colorbox", "third/smoothness/jquery-ui-1.8.10.custom", "system_modules/profiles" %>


<div id="tabs">
	<%= render "menu" %>
	
	<div id="feeds">
		<%= render '/shared/feeds/feeds' %>
	</div>
	
</div>