p label {background-image: none!important; padding: 0px; float: left; width: 100%}
p {float: left; width: 300px; margin: 5px 0px}
img.negocio { float: left; background-color:white; border: solid 1px #cccccc; padding: 3px; margin-right: 20px }
.tab-negocios {
    width: 780px;
    list-style: none;
    float: left;
    padding: 0px;
    margin: 0px;
    line-height: 50px;
    border-bottom: 1px solid #EFEFEF;

}

.tab-negocios li {
    float: left;
    height: 50px;
    padding-left: 10px;
    width: 25px;

}


.tab-negocios li#total {
    width:  80px;
    padding-left: 15px;

}

.tab-negocios li#title{
    width: 569px;
    font-weight: bold;
    margin-left: 15px;
}

.tab-negocios li.edit{
    background: url("/images/company/layout/lapis_icon.png") no-repeat scroll center center transparent;
}

.tab-negocios li.delete{
    background: url("/images/new_version/ico-cancel.gif") no-repeat scroll center center transparent;
}
.tab-negocios li a, .tab-negocios li a:hover{
    display: block;
    text-decoration: none !important;
}

