
.col-left {width:450px;clear:none;float:left;margin:0 20px 20px 0;}

.sidebar {
	float:right;
	width:290px;
}

.sidebar .box{
	background-color:#FDFDFD;
	border:1px solid #efefef;
	float:left;
	margin-bottom:30px;
	padding:20px;
}


.sidebar .box form { 

}

.sidebar .box form a {
	float: left;
	cursor: pointer;
	margin-top: 5px;
	width: 250px;
}

.sidebar .box form input.text, 
.sidebar .box form textarea {
	margin-bottom:10px;
	width: 94%;
}

.sidebar .box form textarea {
	display: none;
	height: 100px;
}

.sidebar .box form span {
	color: #D23630;
	display:block;
	padding:4px 0;
}

.sidebar .box form div#result {
	background:#d8f6f0;
	color:#333333;
	font-weight:bold;
	float:left;
	padding:6px 0;
	text-align:center;
	width:100%;
}

.sidebar .box form .btn-input {
	margin-bottom:10px;
}

.analytcs{

}

.analytcs p { 
	border-bottom: 1px solid #efefef;
}

.remove-feed{font-size: 11px;}

.input-falso{    
	background-color: #FFFFFF;
	border-color: #CCCCCC #F0F0F0 #F0F0F0 #CCCCCC;
    border-style: solid;
    border-width: 1px;
    cursor: text;
    font-weight: normal;
    padding: 15px 9px 15px 34px;
    width:400px;
}

#news_area { 
    position: relative;
    border: 3px solid #EFEFEF;
    margin: 0 0 40px 0;
    }

.space{padding: 5px 15px 5px 5px;}
#news_area_seta {
    background: url("/images/new_version/ico-seta-box-novo-conteudo.gif") no-repeat scroll 15px 3px transparent;
    padding: 15px 0 0;
}